### String

In [1]:
name = "Mehedi"
print(name)

Mehedi

In [2]:
name = "Mehedi"
print("Hello! My name is", name)

Hello! My name is Mehedi

In [3]:
students = "Rafi and Kafi"
print(students, "will go to school.")

Rafi and Kafi will go to school.

### Integer

In [4]:
a = 3
b = 5

result = a + b

print(result)

8

In [5]:
a = 4
b = 5
c = 7
d = 9

result = a - b * c + d

print(result)

-22

In [6]:
number1 = 10
number2 = 5

result = number1 + number2

print(result)

15

In [7]:
number1 = 10
print(number1)

number1 = 15
number1 = 18
print(number1)

number1 = "hello"
print(number1)

10
18
hello

In [8]:
number1 = "hello"
number2 = 2

result = number1 + number2

TypeError: can only concatenate str (not "int") to str

In [9]:
a = 10
type(a)

int

In [11]:
b = "10"
type(b)

str

In [12]:
c = "Mehedi"
type(c)

str

In [13]:
d = 5.5
type(d)

float